# SPDX-FileCopyrightText: 2022 Harish Rajagopal <harish.rajagopals@gmail.com>
#
# SPDX-License-Identifier: CC0-1.0

repos:
  - repo: https://github.com/doublify/pre-commit-rust
    rev: v1.0
    hooks:
    - id: fmt
    - id: clippy
  - repo: https://github.com/DevinR528/cargo-sort
    rev: v1.0.9
    hooks:
    - id: cargo-sort
  - repo: https://github.com/fsfe/reuse-tool
    rev: v1.1.0
    hooks:
    - id: reuse
